
html{
    background-color: #f4efec;
    font-weight: lighter;
    font-size: 12px;
}


#site-flex{
    display: flex;
    flex-direction: column;
}

.headign{
    position: relative;
    font-family:'Times New Roman', Times, serif;
    left: 19%;
    width: 80%;
    font-size: 6vw;
    color: 3f3b36;
}

.head-container{
    position: relative;
    display: block;
    height: 18vw;
    width: 85%;
    margin-bottom: 1vw;
}

#underline{
    position:relative;
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.content-flex{
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -14vw;;
}

.content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    left: 3vw;
}

.full-bio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content{
    order: 1;
    display: block;
    top: -3vw;
    width: 60%;
    left: 39%;
    position: absolute;
    text-align: center;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: rgb(85, 85, 85);
    padding-bottom: 200px;
}

img{
    width: 35vw;
    height: auto;
    position: relative;
    float: left;

}

#bio p{
    position: relative;
    top: 10%;
}

.face-pic img{
    float: left;
    margin: 0 auto;
    width: 25%;
}

#underline img{
    float: none;
}

.footer-container{
    order: 2;
    position: static;
    margin: 50px auto;
    width: 60vw;
    clear: both;
    margin-left: 1vw;
    margin-top: 10%;
    margin-bottom: 10%;
}

.footer-img{
    display: block;
    width: 100%;
    height: auto;
}
